* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: white;
  position: fixed;
  z-index: 1;
  border-bottom: 3px solid #3a723c;
}
.header .nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  /*&__list{
      //display: none;

  }*/
}
.header .nav .nav__menu {
  margin-right: 15px;
  margin-top: 20px;
}
.header .nav .nav__menu img {
  margin-top: 5px;
}
.header .nav .logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
}
.header .nav .logo h1 {
  font-size: 22px;
  color: #3a723c;
}
.header .nav .logo__img {
  margin: 5px 0;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #0f775c;
}
.header .nav__list--menu {
  position: fixed;
  background-color: green;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}
.header .nav__list--show {
  --show: block;
  opacity: 1;
  pointer-events: unset;
}
.header .nav__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header .nav__list--menu {
    position: absolute;
    left: 60%;
    width: 40%;
    background-color: aqua;
  }
}
@media (min-width: 1024px) {
  .header .nav__list {
    display: contents;
  }
  .header .nav__items {
    color: white;
    position: relative;
    top: 25px;
    right: 50px;
  }
  .header .nav__menu, .header .nav__close {
    display: none;
  }
}

.menuP {
  width: 100%;
  height: 70vh;
  background-image: url(../images/ice-cream-cone-in-the-stand.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.menuP__fondo {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8431372549);
}
.menuP__fondo h2 {
  color: white;
  text-align: center;
  position: relative;
  top: 50px;
  /*text-align: center;
  position: relative;
  top: 30%;*/
}
.menuP__fondo a {
  color: white;
  position: relative;
  padding: 10px 20px;
  background: #25961d;
}

.section__titulo h2 {
  text-align: center;
  margin: 20px auto;
}
.section__titulo p {
  text-align: center;
  margin: 0 10px;
}
.section__content {
  text-align: center;
}
.section__content img {
  width: 200px;
  height: 200px;
  border: 5px solid rgb(118, 145, 111);
  border-radius: 50%;
  margin: 20px auto;
}
.section__content h2 {
  color: black;
  margin-bottom: 30px;
}
.section .about {
  width: 100%;
  padding: 20px;
  background-image: url(../images/local.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section .about__fondo {
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.section .about__fondo img {
  margin: 20px auto;
  width: 90%;
  height: 200px;
}
.section .about__fondo h2 {
  margin: 30px auto;
}
.section .about__fondo p {
  width: 90%;
  padding-bottom: 50px;
}
.section .servicios {
  width: 90%;
}
.section .servicios h2 {
  margin: 30px 0;
  margin-left: 30px;
}
.section .servicios h3 {
  margin: 20px 0;
}
.section .servicios h3 img {
  margin-right: 20px;
}
.section .servicios p {
  width: 90%;
  margin-left: 50px;
  margin-bottom: 50px;
}
.section .servicios__img {
  text-align: center;
  border: 3px solid white;
  padding: 5px;
  box-shadow: 1px 5px 5px 5px gray;
  margin-bottom: 30px;
}
.section .servicios__img img {
  width: 98%;
}

.footer {
  background-color: #373131;
}
.footer__items {
  width: 90%;
  text-align: center;
  padding: 70px 0;
}
.footer__items a {
  color: white;
  padding: 0 5px;
  border-right: 1px solid white;
}
.footer__direccion {
  color: white;
  width: 80%;
  text-align: center;
  padding-bottom: 50px;
}
.footer__redes {
  text-align: center;
  color: white;
}
.footer__redes h2 {
  margin: 20px;
}
.footer__redes img {
  margin: 0 10px;
  padding-bottom: 20px;
}
.footer .copy {
  color: white;
  font-size: 13px;
  text-align: center;
  padding: 25px 0;
}/*# sourceMappingURL=style.css.map */